table{
border-collapse: collapse;
text-align: center;
}
td{
  width: 50px;
  height: 50px;
  padding: 10px;
  align-items: center;
  border: 2px solid #dddddd;
  font-size: 200%;
  text-align: center;
}
